
@import '_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    height: 100%;
  }
  
  section {
    height: 100vh;
  }

  .sec1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(../images/image1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  #title {
    font-size: 30px;
  }

  
  
  #search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
  }
  
  #search-input {
    padding: 10px;
    width: 300px;
  }
  
  #search-button {
    padding: 10px 20px;
    background-color: #5474FD;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  #scroll-down {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  footer {
    height: 80px;
    background-color: #5474FD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #fff;
  }
  
  footer h1 {
    font-size: 20px;
    margin: 0;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
  }

  //Page 2

  .sec2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/Rectangle\ 41444.png);
  }
  
  #container2 {
    display: flex;
  }
  
  #left-text {
    padding: 2em;
  }
  
  #right-images {
    display: flex;
    flex-direction: column;
    margin: 1em;
  }
  